<!DOCTYPE html>
<html ng-app='angularRoutingApp' lang="en">

<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>E.I.R.L</title>
    <!-- Jquery Libraries -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>    
    <!-- Angular Libraries -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    
    <!-- Bootstrap Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <!-- Jquery links -->
    <link href="https://canvasjs.com/assets/css/jquery-ui.1.11.2.min.css" rel="stylesheet" />
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-ui.1.11.2.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    
    <!-- BEGIN CONTROLLERS -->
    <script src="main.js" type="text/javascript"></script>
    <script src="controllers/DashboardController.js" type="text/javascript"></script>
    <script src="controllers/VentasController.js" type="text/javascript"></script>
    <script src="controllers/InventarioController.js" type="text/javascript"></script>
    <script src="controllers/NavbarController.js" type="text/javascript"></script>
    <script src="controllers/SessionController.js" type="text/javascript"></script>
    <script src="controllers/AlmacenesySeccionesController.js" type="text/javascript"></script>
    <script src="controllers/ProductosController.js" type="text/javascript"></script>
    <script src="controllers/ReportesController.js" type="text/javascript"></script>
    <!-- CONTROLLERS END -->

    <!-- Default head begin -->
    <link rel="icon" type="image/png" href="images/DB_16х16.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Dashboard Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">


    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">


    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="css/lib/getmdl-select.min.css">
    <link rel="stylesheet" href="css/lib/nv.d3.min.css">
    <link rel="stylesheet" href="css/application.min.css">
    <!-- endinject -->
    <!-- default head end -->
    
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body ng-controller='dashboardController'>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header is-small-screen">
        
        <!-- SESSION BAR BEGIN-->
        <div ng-controller='navbarController'>
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <div class="mdl-layout-spacer"></div>
                    <!-- Search-->
                    <div ng-show="sessionLoggedIn" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
        
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="search"/>
                            <label class="mdl-textfield__label" for="search">Enter your query...</label>
                        </div>
                    </div>
        
                    <div ng-show="sessionLoggedIn" class="material-icons mdl-badge mdl-badge--overlap mdl-button--icon notification" id="notification"
                        data-badge="23">
                        notifications_none
                    </div>
                    <!-- Notifications dropdown-->
                    <ul ng-show="sessionLoggedIn" class="mdl-menu mdl-list mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-shadow--2dp notifications-dropdown"
                        for="notification">
                        <li class="mdl-list__item">
                            You have 23 new notifications!
                        </li>
                        <li class="mdl-menu__item mdl-list__item list__item--border-top">
                            <span class="mdl-list__item-primary-content">
                                <span class="mdl-list__item-avatar background-color--primary">
                                    <i class="material-icons">plus_one</i>
                                </span>
                                <span>You have 3 new orders.</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <span class="label">just now</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item list__item--border-top">
                            <span class="mdl-list__item-primary-content">
                                <span class="mdl-list__item-avatar background-color--secondary">
                                    <i class="material-icons">error_outline</i>
                                </span>
                            <span>Database error</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <span class="label">1 min</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item list__item--border-top">
                            <span class="mdl-list__item-primary-content">
                                <span class="mdl-list__item-avatar background-color--primary">
                                    <i class="material-icons">new_releases</i>
                                </span>
                            <span>The Death Star is built!</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <span class="label">2 hours</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item list__item--border-top">
                            <span class="mdl-list__item-primary-content">
                                <span class="mdl-list__item-avatar background-color--primary">
                                    <i class="material-icons">mail_outline</i>
                                </span>
                            <span>You have 4 new mails.</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <span class="label">5 days</span>
                            </span>
                        </li>
                        <li class="mdl-list__item list__item--border-top">
                            <button href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">ALL NOTIFICATIONS</button>
                        </li>
                    </ul>
        
                    <div ng-show="sessionLoggedIn" class="material-icons mdl-badge mdl-badge--overlap mdl-button--icon message" id="inbox" data-badge="4">
                        mail_outline
                    </div>
                    <!-- Messages dropdown-->
                    <ul ng-show="sessionLoggedIn" class="mdl-menu mdl-list mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right mdl-shadow--2dp messages-dropdown"
                        for="inbox">
                        <li class="mdl-list__item">
                            You have 4 new messages!
                        </li>
                        <li class="mdl-menu__item mdl-list__item mdl-list__item--two-line list__item--border-top">
                            <span class="mdl-list__item-primary-content">
                                <span class="mdl-list__item-avatar background-color--primary">
                                    <text>A</text>
                                </span>
                                <span>Alice</span>
                                <span class="mdl-list__item-sub-title">Birthday Party</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <span class="label label--transparent">just now</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item mdl-list__item--two-line list__item--border-top">
                            <span class="mdl-list__item-primary-content">
                                <span class="mdl-list__item-avatar background-color--baby-blue">
                                    <text>M</text>
                                </span>
                                <span>Mike</span>
                                <span class="mdl-list__item-sub-title">No theme</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <span class="label label--transparent">5 min</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item mdl-list__item--two-line list__item--border-top">
                            <span class="mdl-list__item-primary-content">
                                <span class="mdl-list__item-avatar background-color--cerulean">
                                    <text>D</text>
                                </span>
                                <span>Darth</span>
                                <span class="mdl-list__item-sub-title">Suggestion</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <span class="label label--transparent">23 hours</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item mdl-list__item--two-line list__item--border-top">
                            <span class="mdl-list__item-primary-content">
                                <span class="mdl-list__item-avatar background-color--mint">
                                    <text>D</text>
                                </span>
                                <span>Don McDuket</span>
                                <span class="mdl-list__item-sub-title">NEWS</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <span class="label label--transparent">30 Nov</span>
                            </span>
                        </li>
                        <li class="mdl-list__item list__item--border-top">
                            <button href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">SHOW ALL MESSAGES</button>
                        </li>
                    </ul>
                    
                    <div ng-show="!sessionLoggedIn" data-toggle="modal" data-target="#IniciarSesionModal">
                        <span>Inciar sesión</span>
                    </div>

                    <div ng-show="sessionLoggedIn" class="avatar-dropdown" id="icon">
                        <span>{{currentUserNameLoggedIn}}</span>
                        <img src="images/Icon_header.png">
                    </div>
                    <!-- Account dropdawn-->
                    <ul class="mdl-menu mdl-list mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp account-dropdown"
                        for="icon">
                        <li class="mdl-list__item mdl-list__item--two-line">
                            <span class="mdl-list__item-primary-content">
                                <span class="material-icons mdl-list__item-avatar"></span>
                                <span>{{currentUserNameLoggedIn}}</span>
                                <span class="mdl-list__item-sub-title">Luke@skywalker.com</span>
                            </span>
                        </li>
                        <li class="list__item--border-top"></li>
                        <li class="mdl-menu__item mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">account_circle</i>
                                My account
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">check_box</i>
                                My tasks
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <span class="label background-color--primary">3 new</span>
                            </span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">perm_contact_calendar</i>
                                My events
                            </span>
                        </li>
                        <li class="list__item--border-top"></li>
                        <li class="mdl-menu__item mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon">settings</i>
                                Settings
                            </span>
                        </li>
                        <a>
                            <li ng-click="CerrarSesion()" class="mdl-menu__item mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon text-color--secondary">exit_to_app</i>
                                    Cerrar sesión
                                </span>
                            </li>
                        </a>
                    </ul>
        
                    <button id="more"
                            class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>
        
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp settings-dropdown"
                        for="more">
                        <li class="mdl-menu__item">
                            Settings
                        </li>
                        <a class="mdl-menu__item" href="https://github.com/CreativeIT/getmdl-dashboard/issues">
                            Support
                        </a>
                        <li class="mdl-menu__item">
                            F.A.Q.
                        </li>
                    </ul>
                </div>
            </header>
        </div>
        <!-- SESSION BAR END -->

        <!-- START SESSION MODAL BEEGIN -->
        <div class="modal fade bs-example-modal-sm" id="IniciarSesionModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" ng-controller="sessionController">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4><b>Ingresa tus Datos</b></h4></div>
                  <div class="panel-body">
                      <form>
                        <div class="form-group">
                            <label>Nombre de Usuario:</label>
                            <input type="text" class="form-control" ng-model="nombreUsuarioIniciarSesion" placeholder="ejemplo123">
                        </div>
                        <div class="form-group">
                          <label>Contraseña</label>
                          <input type="password" class="form-control" ng-model="contrasenaIniciarSesion" placeholder="No reveles tu contraseña a terceros">
                        </div>
                          <label ng-show="!errorExistInSessionForm" style="color: red;" ng-model="errorIniciarSesion"></label> 
                        <div class="form-group">
                            <a>No recuerdo mi contraseña.</a>
                        </div>
                          <button type="submit" class="col-md-12 btn btn-primary" ng-click="IniciarSesion()">Iniciar Sesion</button>
                      </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- START SESSION MODAL END -->

        <!-- NAVBAR BEGIN -->
        <div class="mdl-layout__drawer">
            <header>Esquimsa EIRL</header>
            <div class="scroll__wrapper" id="scroll__wrapper">
                <div class="scroller" id="scroller">
                    <div class="scroll__container" id="scroll__container">
                        <nav class="mdl-navigation">
                            <a class="mdl-navigation__link mdl-navigation__link--current" href="#/NuevaVenta">
                                <i class="material-icons" role="presentation">add_shopping_cart</i>
                                Nueva Venta
                            </a>
                            <a class="mdl-navigation__link mdl-navigation__link--current" href="#/AsesoriaRapida">
                                <i class="material-icons" role="presentation">dashboard</i>
                                Asesoría rápida
                            </a>
                            <div class="sub-navigation">
                                <a class="mdl-navigation__link">
                                    <i class="material-icons">view_comfy</i>
                                    Productos
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="#/NuestrosProductos">
                                        Nuestros productos
                                    </a>
                                </div>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="#/Inventario"">
                                        Inventario
                                    </a>
                                </div>
                            </div>
                            <a class="mdl-navigation__link mdl-navigation__link--current" href="#/AlmacenesYSecciones">
                                <i class="material-icons" role="presentation">dashboard</i>
                                Almacenes y secciones
                            </a>
                            <div class="sub-navigation">
                                <a class="mdl-navigation__link">
                                    <i class="material-icons">view_comfy</i>
                                    Ventas y clientes
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="#/NuestrasVentas">
                                        Nuestros ventas
                                    </a>
                                </div>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="#">
                                        Cartera de clientes
                                    </a>
                                </div>
                            </div>
                            <div class="sub-navigation">
                                <a class="mdl-navigation__link">
                                    <i class="material-icons">view_comfy</i>
                                    Reportes
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="#/ReporteVentas">
                                        Reportes de ventas
                                    </a>
                                </div>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="#/ReporteVentasPorFecha">
                                        Ventas por fecha
                                    </a>
                                </div>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="#/ReporteGananciaProducto">
                                        Ganancias por producto
                                    </a>
                                </div>
                                <div class="mdl-navigation">
                                    <a class="mdl-navigation__link" href="#/ReporteVentasEmpleado">
                                        Ventas por vendedor
                                    </a>
                                </div>
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <hr>
                            <a class="mdl-navigation__link" href="https://github.com/CreativeIT/getmdl-dashboard">
                                <i class="material-icons" role="presentation">link</i>
                                GitHub
                            </a>
                        </nav>
                    </div>
                </div>
                <div class='scroller__bar' id="scroller__bar"></div>
            </div>
        </div>
        <!-- NAVBAR END -->

        <main class="mdl-layout__content">
    
            <div class="mdl-grid mdl-grid--no-spacing dashboard">
                <!-- ORIGINAL BEGIN -->
                <!-- MAIN CONTAINER END -->
                <div ng-view class="col-md-12">
                </div>
            </div>
        </main>
    </div>

    <!-- inject:js -->
    <script src="js/d3.min.js"></script>
    <script src="js/getmdl-select.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/nv.d3.min.js"></script>
    <script src="js/layout/layout.min.js"></script>
    <script src="js/scroll/scroll.min.js"></script>
    <script src="js/widgets/charts/discreteBarChart.min.js"></script>
    <script src="js/widgets/charts/linePlusBarChart.min.js"></script>
    <script src="js/widgets/charts/stackedBarChart.min.js"></script>
    <script src="js/widgets/employer-form/employer-form.min.js"></script>
    <script src="js/widgets/line-chart/line-charts-nvd3.min.js"></script>
    <script src="js/widgets/map/maps.min.js"></script>
    <script src="js/widgets/pie-chart/pie-charts-nvd3.min.js"></script>
    <script src="js/widgets/table/table.min.js"></script>
    <script src="js/widgets/todo/todo.min.js"></script>
    <!-- endinject -->
</body>
<!-- END BODY -->
</html>
