<!--Inicio Modal Agregar Formula-->
<div class="modal fade bs-example-modal-sm" id="ModalAgregarFormula" tabindex="-1"  role="dialog" aria-labelledby="ModalAgregarFormula">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="panel panel-info">
            <div class="panel-heading"><h4><b>Productos</b></h4></div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Productos:</label>
                        <select class="form-control text-center" ng-options="producto_TipoProducto.idProducto as producto_TipoProducto.nombreProducto for producto_TipoProducto in productosNoFinalesParaFormulaNP" ng-model="idProducto" ng-change="SeleccionarProductoParaFormulaPC(idProducto)">
                          <option value="">Seleccione un Producto</option>
                        </select>
                        <br/>
                        <label>Cantidad de Producto:</label>
                        <input class="form-control" ng-model="cantidadProductoParaFormulaNP">
                        <br/>
                        <label>Unidad de Medida:</label>
                        <input class="form-control" disabled="true" ng-model="unidadDeMedidaNuevoProductoParaFormulaNP">
                        <br/>
                        <span ng-show="agregarProductoAFormulaPresentaError" ng-model="agregarProductoAFormulaError"></span>
                        <button type="button" class="col-md-6 btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" data-dismiss="modal" class="col-md-6 btn btn-success" ng-click="AgregarProductoAFormula()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!--Final Modal Agregar Formula-->