<main class="col-md-12 mdl-layout__content">
    <div class="mdl-grid ui-tables">
        <div ng-init="GetAllProductsWithElaboration()" class="col-md-12">
            <div ng-show="mostrarProductosPC" class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">Asesoría rápida</h1>
                    </div>
                    <div class="mdl-card__supporting-text no-padding">
                        <table class="mdl-data-table mdl-js-data-table">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Productos</th>
                                    <th class="mdl-data-table__cell--non-numeric">Codigo</th>
                                    <th class="mdl-data-table__cell--non-numeric">Estado</th>
                                    <th class="mdl-data-table__cell--non-numeric">Elaboración</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="producto in productos">
                                    <td class="mdl-data-table__cell--non-numeric">{{producto.nombreProducto}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{producto.codigoProducto}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <span class="label label--mini color--green"> Activo</span>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" value="{{producto}}" data-ng-click="GetElaboration($event)">Elaboración</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- INICIO Elaboración Producto -->
            <div ng-show="!mostrarProductosPC">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange" ng-click="ocultarPreparacionProductosPC()">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">Atrás</span>
                    </button>
                </div>
                
                <h2>{{SelectedProductForElaboration.nombreProducto}}</h2>

                <div class="mdl-grid ui-tables">
                    <!-- STEPS LIST BEGIN -->
                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--6-col-phone">
                        <div class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Preparación</h1>
                            </div>
                            <div class="mdl-card__supporting-text no-padding">
                                <div class="mdl-card__supporting-text no-padding">
                                    <table class="mdl-data-table mdl-js-data-table">
                                        <thead>
                                            <tr>
                                                <th class="mdl-data-table__cell--non-numeric">N°</th>
                                                <th class="mdl-data-table__cell--non-numeric">Instrucciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="steps in elaborationSteps">
                                                <td class="mdl-data-table__cell--non-numeric">{{steps.ordenIndicacion}}</td>
                                                <td class="mdl-data-table__cell--non-numeric">{{steps.detalleIndicacion}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- STEPS LIST END -->
                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--6-col-phone">
                        <!-- FORMULA LIST BEGIN -->
                        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h1 class="mdl-card__title-text">Fórmula</h1>
                                </div>
                                <div class="mdl-card__supporting-text no-padding">
                                    <table class="mdl-data-table mdl-js-data-table">
                                        <thead>
                                            <tr>
                                                <th class="mdl-data-table__cell--non-numeric">Producto</th>
                                                <th class="mdl-data-table__cell--non-numeric">Cantidad</th>
                                                <th class="mdl-data-table__cell--non-numeric">Porcentaje</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="prods in productWithElaboration">
                                                <td class="mdl-data-table__cell--non-numeric">{{prods.productoInsumo.nombreProducto}}</td>
                                                <td class="mdl-data-table__cell--non-numeric">{{prods.cantidad}} {{prods.productoInsumo.unidadMedida.abreviacion}}</td>
                                                <td class="mdl-data-table__cell--non-numeric">{{prods.porcentaje}} %</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- FORMULA LIST END -->

                        <!-- CHART LIST BEGIN -->
                        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__supporting-text">
                                    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                        <!-- CHART LIST END -->
                    </div>
                </div>
            </div>    
            <!-- FINAL Elaboración Producto -->
        </div>
    </div>
</main>