<div ng-init="PopulateDashboard()" class="mdl-grid mdl-grid--no-spacing dashboard">
  <div class="mdl-grid mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--top">

    <!-- Bussinnes Status-->
    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--5-col-phone">
      <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
              <h3 class="mdl-card__title-text">Estado Actual ({{currentDate}})</h3>
          </div>

          <div class="mdl-card__supporting-text no-padding">
              <table class="col-md-12 mdl-data-table mdl-js-data-table">
                <thead>
                  <tr>
                        <th class="mdl-data-table__cell--non-numeric">Categoría</th>
                        <th class="mdl-data-table__cell--non-numeric">Actual</th>
                        <th class="mdl-data-table__cell--non-numeric">Esperado</th>
                        <th class="mdl-data-table__cell--non-numeric">Estado</th>
                    </tr>
                </thead>

                <tbody>
                    <tr id="RevenueRow">
                        <td class="mdl-data-table__cell--non-numeric">Ingresos</td>
                        <td class="mdl-data-table__cell--non-numeric">{{FormatNumber(currentRevenue)}} PEN</td>
                        <td class="mdl-data-table__cell--non-numeric">{{FormatNumber(expectedRevenue)}} PEN</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <button ng-if="revenueRowColor == 1" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                            <i class="material-icons">trending_up</i>
                          </button>
                          <button ng-if="revenueRowColor == 0" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-orange">
                            <i class="material-icons">done</i>
                          </button>
                          <button ng-if="revenueRowColor == -1" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red">
                            <i class="material-icons">trending_down</i>
                          </button>
                        </td>
                    </tr>
                    <tr id="SalesRow">
                        <td class="mdl-data-table__cell--non-numeric">Ventas</td>
                        <td class="mdl-data-table__cell--non-numeric">{{FormatNumber(currentSales)}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{FormatNumber(expectedSales)}}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <button ng-if="salesRowColor == 1" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                            <i class="material-icons">trending_up</i>
                          </button>
                          <button ng-if="salesRowColor == 0" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-orange">
                            <i class="material-icons">done</i>
                          </button>
                          <button ng-if="salesRowColor == -1" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red">
                            <i class="material-icons">trending_down</i>
                          </button>
                        </td>
                    </tr>
                </tbody>
              </table>
          </div>
      </div>
    </div>
    <!-- Stock actual widget-->
    <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--7-col-phone">
      <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Stock Actual ({{currentDate}})</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <span class="color-text--orange" style="font-size: x-large;">Fecha de vencimiento referencial: {{nearExpirationDateBase}}</span>
            <table class="col-md-12 mdl-data-table mdl-js-data-table">
              <thead>
                <tr>
                      <th class="mdl-data-table__cell--non-numeric">Producto</th>
                      <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Fecha de vencimiento</th>
                      <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Unidades restantes</th>
                      <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Estado</th>
                  </tr>
              </thead>

              <tbody>
                  <tr ng-repeat="producto in productos">
                      <td class="mdl-data-table__cell--non-numeric">{{producto.producto.nombreProducto}}</td>
                      <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{ FormatExternalDate(producto.lote.fechaCaducacionLote) }}</td>
                      <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{producto.cantidadProductoSeccion}}</td>
                      <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">
                        <div ng-if="CompareDate(producto.lote.fechaCaducacionLote) == 1">
                          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                          </button>
                          <span class="color-text--green">Vigente</span>
                        </div>
                        <div  ng-if="CompareDate(producto.lote.fechaCaducacionLote) == 0">
                          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-orange">
                          </button>
                          <span class="color-text--orange">Por vencer</span>
                        </div>
                        <div ng-if="CompareDate(producto.lote.fechaCaducacionLote) == -1">
                          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red">
                          </button>
                          <span class="color-text--red">Vencido</span>
                        </div>
                      </td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>

  <div class="mdl-grid mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--top"></div>
    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--5-col-phone">
      <!-- PRODUCTOS A ENTREGAR -->
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">Entregas pendientes ({{currentDate}})</h3>
        </div>

        <div class="mdl-card__supporting-text no-padding">
          <table class="col-md-12 mdl-data-table mdl-js-data-table">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Producto</th>
                <th class="mdl-data-table__cell--non-numeric">Fecha entrega</th>
                <th class="mdl-data-table__cell--non-numeric">Cantidad a entregar</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="entregaPendiente in entregasPendientes">
                <td class="mdl-data-table__cell--non-numeric">{{entregaPendiente.productoSeccion.producto.nombreProducto}}</td>
                <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{entregaPendiente.fechaEntregaPrevista}}</td>
                <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">{{entregaPendiente.cantidadServicioProducto}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
