<div ng-init="PopulateDashboard()" class="mdl-grid mdl-grid--no-spacing dashboard">
  <div class="mdl-grid mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--top">

    <!-- Bussinnes Status-->
    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--5-col-phone">
      <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
              <h3 class="mdl-card__title-text">Estado Actual ({{currentDate}})</h3>
          </div>

          <div class="mdl-card__supporting-text no-padding">
              <table class="col-md-12 mdl-data-table mdl-js-data-table">
                <thead>
                  <tr>
                        <th class="mdl-data-table__cell--non-numeric">Categoría</th>
                        <th class="mdl-data-table__cell--non-numeric">Actual</th>
                        <th class="mdl-data-table__cell--non-numeric">Esperado</th>
                        <th class="mdl-data-table__cell--non-numeric">Estado</th>
                    </tr>
                </thead>

                <tbody>
                    <tr id="RevenueRow">
                        <td class="mdl-data-table__cell--non-numeric">Ganancias</td>
                        <td class="mdl-data-table__cell--non-numeric">{{currentRevenue}} PEN</td>
                        <td class="mdl-data-table__cell--non-numeric">{{expectedRevenue}} PEN</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <button ng-if="salesRowColor == 1" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                            <i class="material-icons">trending_up</i>
                          </button>
                          <button ng-if="salesRowColor == 0" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-orange">
                            <i class="material-icons">done</i>
                          </button>
                          <button ng-if="salesRowColor == -1" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red">
                            <i class="material-icons">trending_down</i>
                          </button>
                        </td>
                    </tr>
                    <tr id="SalesRow">
                        <td class="mdl-data-table__cell--non-numeric">Ventas</td>
                        <td class="mdl-data-table__cell--non-numeric">{{currentSales}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{expectedSales}}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                          <button ng-if="revenueRowColor == 1" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                            <i class="material-icons">trending_up</i>
                          </button>
                          <button ng-if="revenueRowColor == 0" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-orange">
                            <i class="material-icons">done</i>
                          </button>
                          <button ng-if="revenueRowColor == -1" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red">
                            <i class="material-icons">trending_down</i>
                          </button>
                        </td>
                    </tr>
                </tbody>
              </table>
          </div>
      </div>
    </div>

    <!-- Stock actual widget-->
    <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--7-col-phone">
      <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Stock Actual ({{currentDate}})</h2>
          </div>
          <div class="mdl-card__supporting-text">
              <ul class="mdl-list">
                  <li class="mdl-list__item">
                      <span class="mdl-list__item-primary-content list__item-text">UX</span>
                      <span class="mdl-list__item-secondary-content">
                          <i class="material-icons trending__arrow-up" role="presentation">&#xE5C7</i>
                      </span>
                      <span class="mdl-list__item-secondary-content trending__percent">1 %</span>
                  </li>
                  <li class="mdl-list__item list__item--border-top">
                      <span class="mdl-list__item-primary-content list__item-text">PHP</span>
                      <span class="mdl-list__item-secondary-content">
                          <i class="material-icons trending__arrow-down" role="presentation">&#xE5C5</i>
                      </span>
                      <span class="mdl-list__item-secondary-content trending__percent">2 %</span>
                  </li>
                  <li class="mdl-list__item list__item--border-top">
                      <span class="mdl-list__item-primary-content list__item-text ">Big Data</span>
                      <span class="mdl-list__item-secondary-content">
                          <i class="material-icons trending__arrow-up" role="presentation">&#xE5C7</i>
                      </span>
                      <span class="mdl-list__item-secondary-content trending__percent">5 %</span>
                  </li>
                  <li class="mdl-list__item list__item--border-top">
                      <span class="mdl-list__item-primary-content list__item-text">Material Design</span>
                      <span class="mdl-list__item-secondary-content">
                          <i class="material-icons trending__arrow-up" role="presentation">&#xE5C7</i>
                      </span>
                      <span class="mdl-list__item-secondary-content trending__percent">18 %</span>
                  </li>
                  <li class="mdl-list__item list__item--border-top">
                      <span class="mdl-list__item-primary-content">JavaScript</span>
                      <span class="mdl-list__item-secondary-content">
                          <i class="material-icons trending__arrow-up" role="presentation">&#xE5C7</i>
                      </span>
                      <span class="mdl-list__item-secondary-content trending__percent">17 %</span>
                  </li>
              </ul>
          </div>
      </div>
    </div>

  </div>
</div>
