<main class="col-md-12 mdl-layout__content">

    <!-- TABLE CLIENTS END -->
    <div class="mdl-grid ui-tables">
        <div ng-init="GetAllClients()" class="col-md-12">
            <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h1 class="col-md-10 mdl-card__title-text">Nuestros Clientes</h1>
                        <button id="DownloadAdPDF" ng-click="DownloadPDFWithjsPDF()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-red">
                            <i class="material-icons">assignment_returned</i>
                            Descargar
                        </button>
                    </div>
                    
                    <div class="mdl-card__supporting-text no-padding">
                        <table id="ClientsTable" class="mdl-data-table mdl-js-data-table" style="white-space: pre-line;">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Apellidos y Nombres</th>
                                    <th class="mdl-data-table__cell--non-numeric">Tipo de documento</th>
                                    <th class="mdl-data-table__cell--non-numeric">Nro documento</th>
                                    <th class="mdl-data-table__cell--non-numeric">Tipo persona</th>
                                    <th class="mdl-data-table__cell--non-numeric">Teléfono</th>
                                    <th class="mdl-data-table__cell--non-numeric">Correo</th>
                                    <th class="mdl-data-table__cell--non-numeric">Dirección</th>
                                    <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">
                                        <button data-toggle="modal" data-target="#NewClientModal" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                            <i class="material-icons">create</i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="client in clients">
                                    <td class="mdl-data-table__cell--non-numeric">{{client.apellidoPaternoPersona + " " +client.apellidoMaternoPersona + " " + client.nombrePersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{client.documentoIdentidadPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{client.numeroDocumentoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{client.tipoPersona.nombreTipoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{client.numeroTelefonoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{client.correoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{client.direccionPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">
                                        <button data-toggle="modal" data-target="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" value="{{client}}" data-ng-click="">Detalles</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TABLE CLIENTS END -->

    <!-- MODAL NEW CLIENT -->
    <div class="modal fade" id="NewClientModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Nuevo Cliente</h4>
            </div>

            <div class="modal-body">
                <form class="form form--basic">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--1-col-phone">
                            <div class="profile-image color--smooth-gray profile-image--round">
                                <img src="images/Bobby.PNG">
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone form__article" ng-model="nombres">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <label>Nombres</label>
                                <input class="mdl-textfield__input">
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size" ng-model="apellidoPaterno">
                                <label>Apellido paterno</label>
                                <input class="mdl-textfield__input">
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size ng-model="apellidoMaterno"">
                                <label>Apellido materno</label>
                                <input class="mdl-textfield__input">
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select full-size" style="background-color: white;">
                                <label class="mdl-textfield__label">Documento</label>
                                <input class="mdl-textfield__input" type="text" id="TipoDocumento" ng-model="tipoDocumento" readonly tabIndex="-1"/>
                                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu dark_dropdown" for="TipoDocumento">
                                    <li class="mdl-menu__item">DNI</li>
                                    <li class="mdl-menu__item">RUC</li>
                                </ul>
                                <label for="TipoDocumento">
                                    <i class="mdl-icon-toggle__label material-icons">arrow_drop_down</i>
                                </label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <label>Nro. Documento</label>
                                <input class="mdl-textfield__input" ng-model="numeroDocumento">
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <label>Dirección</label>
                                <input class="mdl-textfield__input" ng-model="direccion">
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <label>Correo</label>
                                <input class="mdl-textfield__input" ng-model="correo">
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                <label>Teléfono</label>
                                <input class="mdl-textfield__input" ng-model="telefono">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" data-dismiss="modal" data-ng-click="AddClient()">Agregar</button>
            </div>
          </div>
        </div>
    </div>
</main>