<main class="col-md-12 mdl-layout__content">
    <div class="mdl-grid ui-tables">
        <div ng-init="onLoadProductosController()" class="col-md-12">
            <div ng-show="mostrarProductosPC" class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">Productos</h1>
                    </div>
                    <div class="mdl-card__supporting-text no-padding">
                        <table class="mdl-data-table mdl-js-data-table">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Productos</th>
                                    <th class="mdl-data-table__cell--non-numeric">Unidad de medida</th>
                                    <th class="mdl-data-table__cell--non-numeric">Estado</th>
                                    <th class="mdl-data-table__cell--non-numeric">Detalles</th>
                                    <th class="mdl-data-table__cell--non-numeric">Precios</th>
                                    <th class="mdl-data-table__cell--non-numeric">Elaboración </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="producto in productosNP">
                                    <td class="mdl-data-table__cell--non-numeric">{{producto.nombreProducto}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{producto.unidadMedida.abreviacion}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <span ng-show="producto.estadoProducto" class="label label--mini color--green"> Activo</span>
                                        <span ng-show="!producto.estadoProducto" class="label label--mini color--red"> Inactivo</span>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <button data-toggle="modal" data-target="#EditarProductoModal" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" ng-model="producto.idProducto" value="{{producto.idProducto}}" data-ng-click="getDetallePorProductoNP($event)">Editar</button>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <button data-toggle="modal" data-target="#PrecioProductoModal" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" ng-model="producto" value="{{producto}}" data-ng-click="GetPricePerProduct($event)">Precios</button>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" ng-model="producto.idProducto" value="{{producto.idProducto}}" data-ng-click="administrarPreparacionNP($event)">Elaboración</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- INICIO Elaboración Producto -->
            <div ng-show="!mostrarProductosPC">
                <button type="button" class="col-md-1 btn btn-warning" ng-click="ocultarPreparacionProductosPC()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">  Atrás</span>
                </button>
                <br><br>
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h4>Elaboración {{productoSeleccionadoElaboracionEPM.nombreProducto}}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row margin-bottom-40">
                            <form class="form-group">
                                <div class="col-md-12 col-sm-12">
                                    <!-- Cuadro de Fórmula -->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-1">
                                                <h3 style="font-weight: bold;">Fórmula:</h3>
                                            </div>
                                            <div class="col-md-1 col-md-offset-6">
                                                <button type="button" ng-click="getProductosNoFinales()" class="btn btn-success" style="margin-top: 35%; margin-left: -40%;" data-toggle="modal" data-target="#ModalAgregarFormula">
                                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Agregar</span>
                                                </button>
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <table class="table table-bordered table-condensed">
                                                <tr>
                                                    <th style="text-align:center;" class="col-md-6">Producto</th>
                                                    <th style="text-align:center;" class="col-md-2">Cantidad</th>
                                                    <th style="text-align:center;" class="col-md-2">Porcentaje</th>
                                                    <th style="text-align:center;" class="col-md-4">Acciones</th>
                                                </tr>
                                                <tr ng-repeat="productoSeleccionadoFormulaEPM in productosSeleccionadosFormulaEPM">
                                                    <td>{{productoSeleccionadoFormulaEPM.productoInsumo.nombreProducto}}</td>
                                                    <td style="text-align:center;">{{productoSeleccionadoFormulaEPM.cantidad}} </td>
                                                    <td style="text-align:center;">{{productoSeleccionadoFormulaEPM.porcentaje}}%</td>
                                                    <td style="text-align:center;">
                                                        <button class="btn-warning">Editar</button>
                                                        <button class="btn-danger">Elimninar</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--Inicio Contenedor de Formula-->
                                        <div class="col-md-4">
                                            <label> Total de Formula agregada:</label>
                                            <div class="progress" style="height: 33px;">
                                                <div class="progress-bar progress-bar-default progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{porcentajeContenedor}}%;">
                                                <h4 style="font-weight: bold;">{{porcentajeContenedor}}%</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Fin Contenedor de Formula-->
                                    </div>

                                    <!-- Cuadro de Pasos de Preparación -->
                                    <div class="form-group col-md-12">
                                        <div class="col-md-5">
                                            <h3 style="font-weight: bold;">Pasos de la elaboración:</h3>
                                        </div>
                                        <div class="col-md-2 col-md-offset-5">
                                            <button type="button" class="btn btn-success" style="margin-top: 15%; margin-left: 20%;" data-toggle="modal" data-target="#">
                                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> Nuevo Paso</span>
                                            </button>
                                        </div>
                                        <table class="table table-bordered table-condensed">
                                            <tr>
                                                <th class="col-md-1">Pasos</th>
                                                <th class="col-md-9">Instrucciones</th>
                                                <th class="col-md-2">Acciones</th>
                                            </tr>
                                            <tr ng-repeat="productoSeleccionadoPreparacionEPM in productosSeleccionadosPreparacionEPM">
                                                <td class="col-md-1">N°{{productoSeleccionadoPreparacionEPM.ordenIndicacion}}</td>
                                                <td class="col-md-9">{{productoSeleccionadoPreparacionEPM.detalleIndicacion}}</td>
                                                <td class="col-md-2" style="text-align: center;">
                                                    <button class="btn-warning">Editar</button>
                                                    <button class="btn-danger">Eliminar</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <h4 style="font-weight: bold;">Detalles Adicionales:</h4>
                                        <label>Puedes agregar todos aquellos detalles adicionales en esta sección</label>
                                        <textarea class="form-control" style="height: 155px;">

                                        </textarea>
                                    </div>
                                    <button type="button" class="col-md-6 btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="button" data-dismiss="modal" class="col-md-6 btn btn-primary" ng-click="asdas()">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- FINAL Elaboración Producto -->
        </div>
    </div>
</main>


<!-- INICIO NuevoProducto -->
<div class="modal fade" id="NuevoProductoModal" tabindex="-1" role="dialog" data-backdrop="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="panel panel-info">
        <div class="panel-heading"><h4><b>Nueva Producto</b></h4></div>
        <div class="panel-body">
            <form>
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                      <label>Nombre Producto:</label>
                      <input type="text" class="form-control" ng-model="nombreProductoNPM">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tipo de Producto:</label>
                        <select class="form-control text-center" ng-options="tipoProducto.idTipoProducto as tipoProducto.nombreTipoProducto for tipoProducto in tiposProducto" ng-model="tipoProductoSelectedNPM">
                            <option value="">Seleccione un Tipo</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Unidad de Medida:</label>
                        <select class="form-control text-center" ng-options="unidadMedida.idUnidadMedida as unidadMedida.nombre for unidadMedida in unidadesMedida" ng-model="unidadMedidaSelectedNPM">
                            <option value="">Seleccione una Unidad de Medida</option>
                        </select>
                    </div>
                </div>
              <button type="button" class="col-md-6 btn btn-default" data-dismiss="modal">Cerrar</button>
              <button type="button" data-dismiss="modal" class="col-md-6 btn btn-primary" ng-click="agregarNuevoProductoNP()">Guardar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FINAL NuevoProducto -->

<!-- INICIO EditarProductoModal -->
<div class="modal fade" id="EditarProductoModal" tabindex="-1" role="dialog" data-backdrop="false" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="panel panel-info">
        <div class="panel-heading"><h4><b>Detalles</b></h4></div>
        <div class="panel-body">
            <form>
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                      <label>Nombre:</label>
                      <input type="text" class="form-control" ng-model="productoAEditar.nombreProducto">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Código:</label>
                      <input type="text" class="form-control" ng-model="productoAEditar.codigoProducto">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Tipo:</label>
                      <input type="text" class="form-control" ng-model="productoAEditar.nombreTipoProducto">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Estado:</label>
                      <input type="text" class="form-control" ng-model="productoAEditar.estadoProducto">
                    </div>
                </div>
                <button type="button" class="col-md-6 btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" data-dismiss="modal" class="col-md-6 btn btn-primary" >Guardar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FINAL EditarProductoModal -->

<!-- MODAL PRECIO MODAL BEGIN -->
<div class="modal fade bd-example-modal-lg" id="PrecioProductoModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Precios - {{nombreProductoSeleccionado}}</h4>
        </div>
        <div class="modal-body">
            <div class="mdl-grid ui-tables">
                <!-- CLIENT DATA  BEGIN-->
                <div class="mdl-card__supporting-text">
                    <form class="form form--basic">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone form__article">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select full-size">
                                    <label>Precio</label>
                                    <input type="number" class="mdl-textfield__input" ng-model="unitarioPrecioProductoSeleccionado"/>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select full-size">
                                    <span ng-if="warningMessage != null" class="color-text--red">{{warningMessage}}</span>
                                </div>s
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select full-size">
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green" ng-click="SetPrice()">Establecer precio</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                    <!-- CLIENT DATA END -->
                <div class="mdl-card__supporting-text no-padding">
                    <!-- SHOPPING CARD BEGIN -->
                    <table class="mdl-data-table mdl-js-data-table stripped-table"  style="white-space: pre-line;">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Precio</th>
                                <th class="mdl-data-table__cell--non-numeric">Vigente desde</th>
                                <th class="mdl-data-table__cell--non-numeric">Vigente hasta</th>
                                <th class="mdl-data-table__cell--non-numeric">Vigente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="precio in precios">
                                <td class="mdl-data-table__cell--non-numeric" style="background: white;">{{precio.unitarioPrecio}}</td>
                                <td class="mdl-data-table__cell--non-numeric" style="background: white;">{{FormatDateSouthAmerica(precio.fechaInicioPrecio)}}</td>
                                <td class="mdl-data-table__cell--non-numeric" style="background: white;">{{FormatDateSouthAmerica(precio.fechaFinPrecio)}}</td>
                                <!-- NO VIGENTE -->
                                <td ng-show="precio.vigentePrecio != 1" class="mdl-data-table__cell--non-numeric" style="background: white;">
                                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised button--colored-light-blue" disabled>
                                        <i class="material-icons">done
                                            done</i>
                                    </button>
                                </td>
                                <!-- VIGENTE -->
                                <td ng-show="precio.vigentePrecio == 1"class="mdl-data-table__cell--non-numeric" style="background: white;">
                                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                        <i class="material-icons">done
                                            done</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- SHOPPING CARD END -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>
<!-- MODAL PRECIO MODAL END -->

<!--AgregarProductoFormulaModal-->

<div ng-include="'views/AgregarProductoFormulaModal.html'"></div>

<!--AgregarPasoElaboracionFormulaModal-->
<div ng-include="'views/AgregarPasoElaboracionFormulaModal.html'"></div>