<main class="col-md-12 mdl-layout__content">

    <!-- TABLE VENTAS END -->
    <div class="mdl-grid ui-tables">
        <div ng-init="getVentas()" class="col-md-12">
            <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">Ventas del Mes</h1>
                    </div>
                    <div class="mdl-card__supporting-text no-padding">
                        <table class="mdl-data-table mdl-js-data-table">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Cliente</th>
                                    <th class="mdl-data-table__cell--non-numeric">DNI</th>
                                    <th class="mdl-data-table__cell--non-numeric">Atendido por</th>
                                    <th class="mdl-data-table__cell--non-numeric">Inicio de atención</th>
                                    <th class="mdl-data-table__cell--non-numeric">Fin de atención</th>
                                    <th class="mdl-data-table__cell--non-numeric">Detalles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="venta in ventas">
                                    <td class="mdl-data-table__cell--non-numeric">{{venta.servicio.personaAtendida.nombrePersona + " " +venta.servicio.personaAtendida.apellidoPaternoPersona + " " + venta.servicio.personaAtendida.apellidoMaternoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{venta.servicio.personaAtendida.numeroDocumentoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{venta.servicio.personaEmpleado.nombrePersona + " " +venta.servicio.personaEmpleado.apellidoPaternoPersona + " " + venta.servicio.personaEmpleado.apellidoMaternoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{venta.servicio.horaInicioServicio}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{venta.servicio.horaFinServicio}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <button data-toggle="modal" data-target="#myModal" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" value="{{venta.servicio.idServicio}}" data-ng-click="getDetallesPorServicio($event)">Editar</button>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <button data-toggle="modal" data-target="#ModalVentasDetail" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" value="{{venta}}" data-ng-click="GetServiceDetail($event)">Detalles</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TABLE VENTAS END -->

</main>

<!-- MODAL VENTA DETAIL BEGIN -->
<div class="modal fade bd-example-modal-lg" id="ModalVentasDetail" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="background-color: #2f2f2f;">
        <div class="modal-header" style="color:#fbfeff;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Detalles de la venta</h4>
        </div>
        <!-- <div class="modal-body"> -->
            <div class="mdl-grid ui-tables">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card mdl-shadow--2dp">
                        <!-- <div class="mdl-card__title">
                            <h1 class="mdl-card__title-text">Detalles de la venta</h1>
                        </div> -->
                            <!-- CLIENT DATA  BEGIN-->
                            <div class="mdl-card__supporting-text">
                                <form class="form form--basic">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                            <h3 class="text-color--smooth-gray">Cliente</h3>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <input class="mdl-textfield__input" type="text">
                                                <label class="mdl-textfield__label" for="last-name">{{serviceSelectedDetail.servicio.personaAtendida.documentoIdentidadPersona + " " + serviceSelectedDetail.servicio.personaAtendida.numeroDocumentoPersona}}</label>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <input class="mdl-textfield__input" type="text">
                                                <label class="mdl-textfield__label" for="last-name">{{serviceSelectedDetail.servicio.personaAtendida.nombrePersona + " " + serviceSelectedDetail.servicio.personaAtendida.apellidoPaternoPersona}}</label>
                                            </div>
                                        </div>
                                        
                                        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                            <h3 class="text-color--smooth-gray">Atendido por:</h3>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <input class="mdl-textfield__input" type="text">
                                                <label class="mdl-textfield__label" for="last-name">{{serviceSelectedDetail.servicio.personaEmpleado.documentoIdentidadPersona + " " + serviceSelectedDetail.servicio.personaEmpleado.numeroDocumentoPersona}}</label>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <input class="mdl-textfield__input" type="text" id="last-name">
                                                <label class="mdl-textfield__label" for="last-name">{{serviceSelectedDetail.servicio.personaEmpleado.nombrePersona + " " + serviceSelectedDetail.servicio.personaEmpleado.apellidoPaternoPersona}}</label>
                                            </div>
                                        </div>

                                        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                            <h3 class="text-color--smooth-gray">Servicio</h3>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                                <input class="mdl-textfield__input" type="text" id="floating-last-name">
                                                <label class="mdl-textfield__label" for="floating-last-name">{{serviceSelectedDetail.servicio.horaFinServicio}}</label>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                                <input class="mdl-textfield__input" type="text" id="floating-e-mail">
                                                <label class="mdl-textfield__label" for="floating-e-mail">{{serviceSelectedDetail.servicio.horaFinServicio}}</label>
                                            </div>
                                            
                                        </div>

                                        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                            <h3 class="text-color--smooth-gray">Costo total:</h3>
                                            <h2 class="color-text--green">S/ {{serviceSelectedDetail.costoTotal}}</h2>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <!-- CLIENT DATA END -->
                        <div class="mdl-card__supporting-text no-padding">
                            <!-- SHOPPING CARD BEGIN -->
                            <table id="productosParaVenta" class="mdl-data-table mdl-js-data-table stripped-table">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Producto</th>
                                        <th class="mdl-data-table__cell--non-numeric">Código</th>
                                        <th class="mdl-data-table__cell--non-numeric">Procedencia</th>
                                        <th class="mdl-data-table__cell--non-numeric">Cantidad</th>
                                        <th class="mdl-data-table__cell--non-numeric">Costo por producto</th>
                                        <th class="mdl-data-table__cell--non-numeric">Entregado</th>
                                        <th class="mdl-data-table__cell--non-numeric">Fecha entrega</th>
                                        <th class="mdl-data-table__cell--non-numeric">Entregar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="selectedVenta in ventaDetail">
                                        <td class="mdl-data-table__cell--non-numeric">{{selectedVenta.productoSeccion.producto.nombreProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{selectedVenta.productoSeccion.producto.codigoProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{selectedVenta.productoSeccion.seccion.codigoSeccion}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{selectedVenta.cantidadServicioProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">S/ {{serviceSelectedDetail.costoTota}}</td>
                                        <td ng-show="selectedVenta.entregado" class="mdl-data-table__cell--non-numeric">SI</td>
                                        <td ng-show="!selectedVenta.entregado" class="mdl-data-table__cell--non-numeric">NO</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{selectedVenta.fechaEntrega}}</td>
                                        <td ng-show="selectedVenta.entregado"class="mdl-data-table__cell--non-numeric">
                                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised button--colored-light-blue" disabled>
                                                <i class="material-icons">done
                                                    done</i>
                                            </button>
                                        </td>
                                        <td ng-show="!selectedVenta.entregado"class="mdl-data-table__cell--non-numeric">
                                            <button value="{{selectedVenta}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                                <i class="material-icons">done
                                                    done</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- SHOPPING CARD END -->
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal">Save changes</button> -->
        <!-- </div> -->
      </div>
    </div>
</div>
<!-- MODAL VENTA DETAIL END -->

<!-- MODAL VENTAS BEGIN -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal">Save changes</button>
        </div>
      </div>
    </div>
</div>
<!-- MODAL VENTAS END -->