<main class="col-md-12 mdl-layout__content">

    <!-- TABLE VENTAS END -->
    <div class="mdl-grid ui-tables">
        <div ng-init="getVentas()" class="col-md-12">
            <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">Nuestras ventas</h1>
                    </div>
                    <div class="mdl-card__supporting-text no-padding">
                        <table class="mdl-data-table mdl-js-data-table" style="white-space: pre-line;">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Cliente</th>
                                    <th class="mdl-data-table__cell--non-numeric">DNI</th>
                                    <th class="mdl-data-table__cell--non-numeric">Atendido por</th>
                                    <th class="mdl-data-table__cell--non-numeric">Inicio de atención</th>
                                    <th class="mdl-data-table__cell--non-numeric">Fin de atención</th>
                                    <th class="mdl-data-table__cell--non-numeric">Detalles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="venta in ventas">
                                    <td class="mdl-data-table__cell--non-numeric">{{venta.personaAtendida.nombrePersona + " " +venta.personaAtendida.apellidoPaternoPersona + " " + venta.personaAtendida.apellidoMaternoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{venta.personaAtendida.numeroDocumentoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{venta.personaEmpleado.nombrePersona + " " +venta.personaEmpleado.apellidoPaternoPersona + " " + venta.personaEmpleado.apellidoMaternoPersona}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{FormatDateSouthAmerica(venta.horaInicioServicio)}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{FormatDateSouthAmerica(venta.horaFinServicio)}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <button data-toggle="modal" data-target="#ModalVentasDetail" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" value="{{venta}}" data-ng-click="GetServiceDetail($event)">Detalles</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TABLE VENTAS END -->

</main>

<!-- MODAL VENTA DETAIL BEGIN -->
<div class="modal fade bd-example-modal-lg" id="ModalVentasDetail" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
      <!-- <div class="modal-content" style="background-color: #929f97;"> -->
      <div class="modal-content">
        <!-- <div class="modal-header" style="color:#fbfeff;"> -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Detalles de la venta</h4>
        </div>
        <!-- <div class="modal-body"> -->
            <div class="mdl-grid ui-tables">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card mdl-shadow--2dp" style="background: white;">
                        <!-- CLIENT DATA  BEGIN-->
                        <div class="mdl-card__supporting-text">
                            <form class="form form--basic">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                        <h3 class="text-color--black">Cliente</h3>
                                        <div class="mdl-textfield mdl-js-textfield full-size">
                                            <label class="mdl-textfield__input" for="last-name">{{serviceSelectedDetail.personaAtendida.documentoIdentidadPersona + " " + serviceSelectedDetail.personaAtendida.numeroDocumentoPersona}}</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield full-size">
                                            <label class="mdl-textfield__input" for="last-name">{{serviceSelectedDetail.personaAtendida.apellidoPaternoPersona + " " + serviceSelectedDetail.personaAtendida.nombrePersona}}</label>
                                        </div>
                                    </div>
                                    
                                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                        <h3 class="text-color--black">Atendido por:</h3>
                                        <div class="mdl-textfield mdl-js-textfield full-size">
                                            <label class="mdl-textfield__input" for="last-name">{{serviceSelectedDetail.personaEmpleado.documentoIdentidadPersona + " " + serviceSelectedDetail.personaEmpleado.numeroDocumentoPersona}}</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield full-size">
                                            <label class="mdl-textfield__input" for="last-name">{{serviceSelectedDetail.personaEmpleado.apellidoPaternoPersona + " " + serviceSelectedDetail.personaEmpleado.nombrePersona}}</label>
                                        </div>
                                    </div>

                                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                            <label>Inicio de atención</label>
                                            <label class="mdl-textfield__input" for="floating-last-name">{{FormatDateSouthAmerica(serviceSelectedDetail.horaFinServicio)}}</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                            <label>Fin de atención</label>
                                            <label class="mdl-textfield__input" for="floating-e-mail">{{FormatDateSouthAmerica(serviceSelectedDetail.horaFinServicio)}}</label>
                                        </div>
                                        
                                    </div>

                                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                        <h3 class="text-color--black">Costo total:</h3>
                                        <h2 class="color-text--green">S/ {{TotalCostPerSelectedSale}}</h2>
                                    </div>

                                </div>
                            </form>
                        </div>
                            <!-- CLIENT DATA END -->
                        <div class="mdl-card__supporting-text no-padding">
                            <!-- SHOPPING CARD BEGIN -->
                            <table id="productosParaVenta" class="mdl-data-table mdl-js-data-table stripped-table"  style="white-space: pre-line;">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Producto</th>
                                        <th class="mdl-data-table__cell--non-numeric">Código</th>
                                        <th class="mdl-data-table__cell--non-numeric">Procedencia</th>
                                        <th class="mdl-data-table__cell--non-numeric">Cantidad</th>
                                        <th class="mdl-data-table__cell--non-numeric">Costo por producto</th>
                                        <th class="mdl-data-table__cell--non-numeric">Entregado</th>
                                        <th class="mdl-data-table__cell--non-numeric">Fecha entrega</th>
                                        <th class="mdl-data-table__cell--non-numeric">Entrega prevista</th>
                                        <th class="mdl-data-table__cell--non-numeric">Entregar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="selectedVenta in ventaDetail">
                                        <td class="mdl-data-table__cell--non-numeric" style="background: white;">{{selectedVenta.productoSeccion.producto.nombreProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric" style="background: white;">{{selectedVenta.productoSeccion.producto.codigoProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric" style="background: white;">{{selectedVenta.productoSeccion.seccion.codigoSeccion}}</td>
                                        <td class="mdl-data-table__cell--non-numeric" style="background: white;">{{selectedVenta.cantidadServicioProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric" style="background: white;">S/ {{selectedVenta.costoTotal}}</td>
                                        <td ng-show="selectedVenta.entregado" class="mdl-data-table__cell--non-numeric" style="background: white;">SI</td>
                                        <td ng-show="!selectedVenta.entregado" class="mdl-data-table__cell--non-numeric" style="background: white;">NO</td>
                                        <td class="mdl-data-table__cell--non-numeric" style="background: white;">{{FormatDateSouthAmerica(selectedVenta.fechaEntrega)}}</td>
                                        <td class="mdl-data-table__cell--non-numeric" style="background: white;">{{FormatDateSouthAmerica(selectedVenta.fechaEntregaPrevista)}}</td>
                                        <!-- No delivered button -->
                                        <td ng-show="selectedVenta.entregado" class="mdl-data-table__cell--non-numeric" style="background: white;">
                                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised button--colored-light-blue" disabled>
                                                <i class="material-icons">done
                                                    done</i>
                                            </button>
                                        </td>
                                        <!-- delivered button -->
                                        <td ng-show="!selectedVenta.entregado"class="mdl-data-table__cell--non-numeric" style="background: white;">
                                            <button value="{{selectedVenta}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green" ng-model="selectedVenta" value="{{selectedVenta}}" data-ng-click="DeliverProduct($event)">
                                                <i class="material-icons">done
                                                    done</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- SHOPPING CARD END -->
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal">Save changes</button> -->
        <!-- </div> -->
      </div>
    </div>
</div>
<!-- MODAL VENTA DETAIL END -->

<!-- MODAL VENTAS BEGIN -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal">Save changes</button>
        </div>
      </div>
    </div>
</div>
<!-- MODAL VENTAS END -->