<div>
    
    <main ng-init="getProductosParaVenta()" class="col-md-12 mdl-layout__content">
        <div class="col-md-7">
            <!-- PRODUCT LIST BEGIN -->
            <div class="mdl-grid ui-tables">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h1 class="mdl-card__title-text">Productos</h1>
                        </div>
                        <div class="mdl-card__supporting-text no-padding">
                            <table id="productosParaVenta" class="mdl-data-table mdl-js-data-table borderless-table">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Producto</th>
                                        <th class="mdl-data-table__cell--non-numeric">Disponibles</th>
                                        <th class="mdl-data-table__cell--non-numeric">Vencimiento</th>
                                        <th class="mdl-data-table__cell--non-numeric">P und</th>
                                        <th class="mdl-data-table__cell--non-numeric">Elaboración</th>
                                        <th class="mdl-data-table__cell--non-numeric">Agregar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="almacen in almacenes">
                                        <td class="mdl-data-table__cell--non-numeric">{{almacen.nombreAlmacen}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{almacen.direccion}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{almacen.capacidad}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <input value="{{almacen.idAlmacen}}" ng-model="almacen.selected" type="checkbox">
                                            <span ng-show="almacen.selected" class="glyphicon glyphicon-ok" style="color: green;" aria-hidden="true"></span>
                                            <span ng-show="!almacen.selected" class="glyphicon glyphicon-remove" style="color: #b91717;" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody >
                                    <tr ng-repeat="productoParaVenta in productosParaVenta">
                                        <td class="mdl-data-table__cell--non-numeric">{{productoParaVenta.nombreProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{productoParaVenta.cantidadProductoSeccion}} {{productoParaVenta.abreviacion}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{productoParaVenta.fechaIngreso}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">S/ {{productoParaVenta.unitarioPrecio}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <button data-toggle="modal" data-target="#ModalElaboracion" value="{{productoParaVenta}}" data-ng-click="RevisarElaboracion($event)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-orange"><i class="material-icons">info</i></button>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <button data-toggle="modal" data-target="#ModalCantidad" value="{{productoParaVenta}}" data-ng-click="EstablecerCantidadParaAgregar($event)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRODUCT LIST END -->
        </div>
        <div class="col-md-5">
            <div class="mdl-grid ui-tables">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h1 class="mdl-card__title-text">Carrito de compras</h1>
                        </div>
                            <!-- CLIENT DATA  BEGIN-->
                            <div class="mdl-card__supporting-text">
                                <form class="form form--basic">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone form__article">
                                            <h3 class="text-color--black">Cliente</h3>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <label>DNI o RUC</label>
                                                <input class="mdl-textfield__input" type="text" id="document">
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <label>Nombres</label>
                                                <input class="mdl-textfield__input" type="text"  id="first-name">
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <label>Apellidos</label>
                                                <input class="mdl-textfield__input" type="text" id="last-name">
                                            </div>
                                            <h2 class="color-text--green">S/ {{PrecioTotal}}</h2>
                                        </div>
                                        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                            <h3 class="text-color--black">Dirección de entrega</h3>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                                <label>Número de teléfono</label>
                                                <input class="mdl-textfield__input" type="text" id="phone">
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                                <label>Dirección de entrega</label>
                                                <input class="mdl-textfield__input" type="text" id="address">
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                                <label>Correo electrónico</label>
                                                <input class="mdl-textfield__input" type="text" id="floating-e-mail">
                                            </div>
                                            <button ng-click="registrarVenta()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                                <i class="material-icons">save</i>
                                                Procesar venta
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- CLIENT DATA END -->
                        <div ng-show="!shoppingCarEmpty" class="mdl-card__supporting-text no-padding">
                            <!-- SHOPPING CARD BEGIN -->
                            <table id="productosParaVenta" class="mdl-data-table mdl-js-data-table borderless-table" style="white-space: pre-line;">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Eliminar</th>
                                        <th class="mdl-data-table__cell--non-numeric">Producto</th>
                                        <th class="mdl-data-table__cell--non-numeric">Código</th>
                                        <th class="mdl-data-table__cell--non-numeric">Cantidad</th>
                                        <th class="mdl-data-table__cell--non-numeric">P Und</th>
                                        <th class="mdl-data-table__cell--non-numeric">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="elemento in carrito">
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <button value="{{elemento}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red">
                                                <i class="material-icons">cancel</i>
                                            </button>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.nombreProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.codigoProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.cantidad}} {{elemento.unidadMedida}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.precioUnitario}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.precioTotalProducto}}</td>
                                    </tr>
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- SHOPPING CARD END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- MODAL PRODUCTS TO ADD TO SHOPPING CAR BEGIN -->
    <div class="modal fade bd-example-modal-sm" id="ModalCantidad" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Detalle por producto</h4>
            </div>
            <div class="modal-body">
                <span ng-show="!EntregaInmediata" class="color-text--red">Este producto no esta disponible en estos momentos, revise la posible fecha de entrega</span>
                <div class="form-group">
                    <label>Cantidad a agregar:</label>
                    <input type="number" class="form-control"  ng-model="CantidadProductoParaAgregar" ng-change="RefreshDeliverDateAndPrice()">
                </div>
                <div class="form-group">
                    <label>Unidades disponibles</label>
                    <input type="text" class="form-control"  ng-model="UnidadesDisponibleParaAgregar" disabled>
                </div>
                <div class="form-group">
                    <label>Precio calculado</label>
                    <input type="text" class="form-control"  ng-model="PrecioDelProductoParaAgregar" disabled>
                </div>
                <div class="form-group">
                    <label>Fecha de entrega</label>
                    <input ng-if="!EntregaInmediata" type="text" class="form-control"  ng-model="FechaEntregaDelProductoParaAgregar" disabled>
                    <input ng-if="EntregaInmediata" type="text" class="form-control" value="Entrega inmediata" disabled>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" data-dismiss="modal" value="{{ProductoParaAgregar}}" data-ng-click="AgregarACarrito($event)">Agregar</button>
            </div>
          </div>
        </div>
    </div>
    <!-- MODAL PRODUCTS TO ADD TO SHOPPING CAR END -->

</div>

