<div>
    
    <main ng-init="getProductosParaVenta()" class="col-md-12 mdl-layout__content">
        <div class="col-md-7">
            <!-- PRODUCT LIST BEGIN -->
            <div class="mdl-grid ui-tables">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h1 class="mdl-card__title-text">Productos</h1>
                        </div>
                        <div class="mdl-card__supporting-text no-padding">
                            <table id="productosParaVenta" class="mdl-data-table mdl-js-data-table borderless-table">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Producto</th>
                                        <th class="mdl-data-table__cell--non-numeric">Disponibles</th>
                                        <th class="mdl-data-table__cell--non-numeric">Vencimiento</th>
                                        <th class="mdl-data-table__cell--non-numeric">P und</th>
                                        <th class="mdl-data-table__cell--non-numeric">Elaboración</th>
                                        <th class="mdl-data-table__cell--non-numeric">Agregar</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr ng-repeat="productoParaVenta in productosParaVenta">
                                        <td class="mdl-data-table__cell--non-numeric">{{productoParaVenta.nombreProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{productoParaVenta.cantidadProductoSeccion}} {{productoParaVenta.abreviacion}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{FormatDateSouthAmericaWithoutTime(productoParaVenta.fechaIngreso)}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">S/ {{productoParaVenta.unitarioPrecio}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <button data-toggle="modal" data-target="#ModalElaboracion" value="{{productoParaVenta}}" data-ng-click="GetElaboration($event)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-orange"><i class="material-icons">info</i></button>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <button data-toggle="modal" data-target="#ModalCantidad" value="{{productoParaVenta}}" data-ng-click="EstablecerCantidadParaAgregar($event)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRODUCT LIST END -->
        </div>
        <div class="col-md-5">
            <div class="mdl-grid ui-tables">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h1 class="col-md-5 mdl-card__title-text">Carrito de compras</h1>
                            <div class="col-md-offset-1">
                                <button data-toggle="modal" data-target="#ModalClients" data-ng-click="GetAllClients()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange">
                                    <i class="material-icons">people</i>
                                    Clientes
                                </button>
                            </div>
                            <div class="col-md-offset-1">
                                <button data-toggle="modal" data-target="#ModalNewClient" class="col-md-offset-1 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-orange" ng-click="PopulateSelect()">
                                    <i class="material-icons">person_add</i>
                                    Nuevo cliente
                                </button>
                            </div>
                        </div>
                            <!-- CLIENT DATA  BEGIN-->
                            <div class="mdl-card__supporting-text">
                                <form class="form form--basic">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone form__article">
                                            <h3 class="text-color--black">Cliente</h3>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <label>DNI o RUC</label>
                                                <input class="mdl-textfield__input" type="text" value="{{currentClient.numeroDocumentoPersona}}" id="document" readonly>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <label>Nombres</label>
                                                <input class="mdl-textfield__input" type="text" value="{{currentClient.nombrePersona}}" id="first-name" readonly>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield full-size">
                                                <label>Apellidos</label>
                                                <input class="mdl-textfield__input" type="text" value="{{currentClient.apellidoPaternoPersona}} {{currentClient.apellidoMaternoPersona}}" id="last-name" readonly>
                                            </div>
                                            <h2 class="color-text--green">S/ {{PrecioTotal}}</h2>
                                        </div>
                                        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
                                            <h3 class="text-color--black">Dirección de entrega</h3>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                                <label>Número de teléfono</label>
                                                <input class="mdl-textfield__input" type="text" id="phone" value="{{currentClient.numeroTelefonoPersona}}" readonly>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                                <label>Dirección de entrega</label>
                                                <input class="mdl-textfield__input" type="text" id="address" value="{{currentClient.direccionPersona}}" readonly>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                                <label>Correo electrónico</label>
                                                <input class="mdl-textfield__input" type="text" id="floating-e-mail" value="{{currentClient.correoPersona}}" readonly>
                                            </div>
                                            <button ng-click="registrarVenta()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">
                                                <i class="material-icons">save</i>
                                                Procesar venta
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- CLIENT DATA END -->
                        <div ng-show="!shoppingCarEmpty" class="mdl-card__supporting-text no-padding">
                            <!-- SHOPPING CARD BEGIN -->
                            <table id="productosParaVenta" class="mdl-data-table mdl-js-data-table borderless-table" style="white-space: pre-line;">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Eliminar</th>
                                        <th class="mdl-data-table__cell--non-numeric">Producto</th>
                                        <th class="mdl-data-table__cell--non-numeric">Código</th>
                                        <th class="mdl-data-table__cell--non-numeric">Cantidad</th>
                                        <th class="mdl-data-table__cell--non-numeric">P Und</th>
                                        <th class="mdl-data-table__cell--non-numeric">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="elemento in carrito">
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <button value="{{elemento}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised mdl-js-ripple-effect button--colored-red">
                                                <i class="material-icons">cancel</i>
                                            </button>
                                        </td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.nombreProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.codigoProducto}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.cantidad}} {{elemento.unidadMedida}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.precioUnitario}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{elemento.precioTotalProducto}}</td>
                                    </tr>
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                        <td class="mdl-data-table__cell--non-numeric"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- SHOPPING CARD END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- MODAL PRODUCTS TO ADD TO SHOPPING CAR BEGIN -->
    <div class="modal fade" id="ModalCantidad" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Detalle por producto</h4>
            </div>
            <div class="modal-body">
                <span ng-show="!EntregaInmediata" class="color-text--red">Este producto no esta disponible en estos momentos, revise la posible fecha de entrega</span>
                <div class="form-group">
                    <label>Cantidad a agregar:</label>
                    <input type="number" class="form-control"  ng-model="CantidadProductoParaAgregar" ng-change="RefreshDeliverDateAndPrice()">
                </div>
                <div class="form-group">
                    <label>Unidades disponibles</label>
                    <input type="text" class="form-control"  ng-model="UnidadesDisponibleParaAgregar" disabled>
                </div>
                <div class="form-group">
                    <label>Precio calculado</label>
                    <input type="text" class="form-control"  ng-model="PrecioDelProductoParaAgregar" disabled>
                </div>
                <div class="form-group">
                    <label>Fecha de entrega</label>
                    <input ng-if="!EntregaInmediata" type="text" class="form-control"  ng-model="FechaEntregaDelProductoParaAgregar" disabled>
                    <input ng-if="EntregaInmediata" type="text" class="form-control" value="Entrega inmediata" disabled>
                </div>

                <!-- PROXIMAS ORDENES -->
                <div class="form-group">
                    <label>Próximas entregas</label>
                    <table ng-if="ordenesDeCompraPorProducto.length > 0" class="col-md-12 mdl-data-table mdl-js-data-table">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Fechas</th>
                                <th class="mdl-data-table__cell--non-numeric">Cantidad disponible</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="productsInOrders in ordenesDeCompraPorProducto">
                                <td class="mdl-data-table__cell--non-numeric">{{FormatDateSouthAmericaWithoutTime(productsInOrders.fechaEntregaPrevistaOrdenCompraProducto)}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{productsInOrders.cantidadDisponibleOrdenCompraProducto}} {{productsInOrders.producto.unidadMedida.abreviacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="ordenesDeCompraPorProducto.length == 0">
                        <label class="color-text--orange">No hay próximas entregas programadas.</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" data-dismiss="modal" value="{{ProductoParaAgregar}}" data-ng-click="AgregarACarrito($event)">Agregar</button>
            </div>
          </div>
        </div>
    </div>
    <!-- MODAL PRODUCTS TO ADD TO SHOPPING CAR END -->

    <!-- MODAL ASESORIA BEGIN -->
    <div class="modal fade bd-example-modal-lg" id="ModalElaboracion" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg" role="document">
        <!-- <div class="modal-content" style="background-color: #929f97;"> -->
        <div class="modal-content">
            <!-- <div class="modal-header" style="color:#fbfeff;"> -->
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Elaboración {{productNameToReviewElaboration}}</h4>
            </div>
            <div class="modal-body">
                <span ng-if="!elaborationNoAvailable" class="color-text--red">Detalle de elaboración no disponible para este producto.</span>

                <div ng-if="elaborationNoAvailable" class="mdl-grid ui-tables">
                    <!-- STEPS LIST BEGIN -->
                    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <div class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Preparación</h1>
                            </div>
                            <div class="mdl-card__supporting-text no-padding">
                                <div class="mdl-card__supporting-text no-padding">
                                    <table class="mdl-data-table mdl-js-data-table">
                                        <thead>
                                            <tr>
                                                <th class="mdl-data-table__cell--non-numeric">N°</th>
                                                <th class="mdl-data-table__cell--non-numeric">Instrucciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="steps in elaborationSteps">
                                                <td class="mdl-data-table__cell--non-numeric">{{steps.ordenIndicacion}}</td>
                                                <td class="mdl-data-table__cell--non-numeric">{{steps.detalleIndicacion}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- STEPS LIST END -->
                    
                    <!-- FORMULA LIST BEGIN -->
                    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <div class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">Fórmula</h1>
                            </div>
                            <div class="mdl-card__supporting-text no-padding">
                                <table class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">Producto</th>
                                            <th class="mdl-data-table__cell--non-numeric">Código</th>
                                            <th class="mdl-data-table__cell--non-numeric">Cantidad</th>
                                            <th class="mdl-data-table__cell--non-numeric">Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="prods in productWithElaboration">
                                            <td class="mdl-data-table__cell--non-numeric">{{prods.productoInsumo.nombreProducto}}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{prods.productoInsumo.codigoProducto}}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{prods.cantidad}} {{prods.productoInsumo.unidadMedida.abreviacion}}</td>
                                            <td class="mdl-data-table__cell--non-numeric">{{prods.porcentaje}} %</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- FORMULA LIST END -->

                    <!-- CHART LIST BEGIN -->
                    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <div class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__supporting-text">
                                <div id="chartContainer" style="height: 400px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- CHART LIST END -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button ng-if="elaborationNoAvailable" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal">Agregar al carrito</button>
            </div>
        </div>
        </div>
    </div>
    <!-- MODAL ASESORIA DETAIL END -->

    <!-- MODAL CLIENTS BEGIN -->
    <div class="modal fade bd-example-modal-lg" id="ModalClients" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuestros clientes</h4>
                </div>
                <div class="modal-body">
                    <table id="ClientsTable" class="col-md-12 mdl-data-table mdl-js-data-table" style="white-space: pre-line;">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Nro documento</th>
                                <th class="mdl-data-table__cell--non-numeric">Tipo de documento</th>
                                <th class="mdl-data-table__cell--non-numeric">Apellidos y Nombres</th>
                                <th class="mdl-data-table__cell--non-numeric">Tipo persona</th>
                                <th class="mdl-data-table__cell--non-numeric"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="client in clients">
                                <td class="mdl-data-table__cell--non-numeric">{{client.numeroDocumentoPersona}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{client.documentoIdentidadPersona}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{client.apellidoPaternoPersona + " " +client.apellidoMaternoPersona + " " + client.nombrePersona}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{client.tipoPersona.nombreTipoPersona}}</td>
                                <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">
                                    <button data-toggle="modal" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" value="{{client}}" data-dismiss="modal" data-ng-click="SelectClient($event)">Seleccionar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL CLIENTS END -->

    <!-- MODAL CLIENTS BEGIN -->
    <div class="modal fade bd-example-modal-lg" id="ModalNewClient" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo cliente</h4>
                </div>
                <div class="modal-body">
                    <form class="form form--basic">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--1-col-phone">
                                <div class="profile-image color--smooth-gray profile-image--round">
                                    <img src="images/Bobby.PNG">
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone form__article" >
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                    <label>Nombres</label>
                                    <input ng-model="nombres" class="mdl-textfield__input">
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size" >
                                    <label>Apellido paterno</label>
                                    <input ng-model="apellidoPaterno" class="mdl-textfield__input">
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                    <label>Apellido materno</label>
                                    <input ng-model="apellidoMaterno" class="mdl-textfield__input">
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select full-size">
                                    <label>Tipo</label>
                                    <select class="form-control text-center" ng-options="personT.value as personT.name for personT in personType" ng-model="tipoPersona">
                                        <option value="">Seleccione un tipo</option>
                                    </select>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select full-size">
                                    <label>Tipo de documento</label>
                                    <select class="form-control text-center" ng-options="documentT.value as documentT.name for documentT in documentType" ng-model="tipoDocumento">
                                        <option value="">Seleccione un tipo</option>
                                    </select>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                    <label>Nro. Documento</label>
                                    <input class="mdl-textfield__input" ng-model="numeroDocumento">
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                    <label>Dirección</label>
                                    <input class="mdl-textfield__input" ng-model="direccion">
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                    <label>Correo</label>
                                    <input class="mdl-textfield__input" ng-model="correo">
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
                                    <label>Teléfono</label>
                                    <input class="mdl-textfield__input" ng-model="telefono">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal" data-dismiss="modal" data-ng-click="AddClient()">Agregar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL CLIENTS END -->
</div>

