<!-- INICIO PrecioProductoModal -->
<div class="modal fade" id="PrecioProductoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="panel panel-info">
        <div class="panel-heading"><h4><b>Precios para</b></h4></div>
        <div class="panel-body">
            <form>
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                      <label>Código:</label>
                      <input type="text" class="form-control" >
                    </div>
                    <div class="form-group col-md-6">
                      <label>Unidad de Medida (Lt):</label>
                      <input type="number" class="form-control" >
                    </div>
                    <div class="form-group col-md-6">
                      <label>Detalle:</label>
                      <input type="text" class="form-control">
                    </div>
                </div>
              <button type="button" class="col-md-6 btn btn-default" data-dismiss="modal">Cerrar</button>
              <button type="button" data-dismiss="modal" class="col-md-6 btn btn-primary" ng-click="AgregarNuevaSeccionNSM()">Guardar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FINAL PrecioProductoModal -->
